<h2 align="center">Iniciar Sesi칩n</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Correo Electr칩nico", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password,'Contrase침a', class:"form-label" %><br />
    <%= f.password_field :password, autocomplete: "Contrase침a", class:"form-control" %>
  </div>


  <div class="actions">
    <%= f.submit "Ingresar", class:"btn btn-dark" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
