<p id="notice"><%= notice %></p>

<p>
  <strong>Annotation:</strong>
  <%= @accountannotation.annotation_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @accountannotation.account_id %>
</p>

<%= link_to 'Edit', edit_accountannotation_path(@accountannotation) %> |
<%= link_to 'Back', accountannotations_path %>
