<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nombre' %>
    <%= form.text_field :name%>
  </div>

  <div class="field">
    <%= form.label :phone_number, 'Número de teléfono' %>
    <%= form.number_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :dni, 'DNI' %>
    <%= form.number_field :dni %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
